@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

#logo {
    margin-top: 20px;
}

#graphics {
    background-color: #B17C68;
    position: absolute;
    top: 200px;
    margin: auto;    
}

#menu {
    top: 200px;
    margin: auto; 
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: dimgrey;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#deathMessage {
    top: 200px;
    margin: auto; 
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: dimgrey;
    z-index: 1;
    display: flex;
    font-size: 55pt;
    color: #ff6600;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 30pt;
    margin-top: 30px;
    font-weight: bold;
    color: #ff6600;
}

#ulMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

#ulMenu li {
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 30pt;
}

#ulMenu li:hover {
    color: #ff6600;
}

#ulMenu li:hover:before {
    background: url('../src/weapons/weapon_left1.png') CENTER CENTER NO-REPEAT;
    content: url('../src/weapons/weapon_empty.png');
    height: 10px;
    width: 26px;
    margin-right: 10px;
}

#ulMenu li:hover:after {
    background: url('../src/weapons/weapon_right1.png') CENTER CENTER NO-REPEAT;
    content: url('../src/weapons/weapon_empty.png');
    height: 10px;
    width: 26px;
    margin-left: 10px;
}

.maybe {
    font-size: 12pt;
}

#control {
    margin-top: 50px;
    width: 600px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#control p {
    margin-bottom: 25px;
}

#Arrow {
    border: 1px solid blue;
}

.flex {
    display: flex;
}

#control img {
    margin: 5px 30px 0 30px;
    border-radius: 5px;
}

#control img:hover {
    border: 1px solid #ff6600;
    border-radius: 5px;
}

#deathMessage a {
    color: aliceblue;
    font-size: 16pt;
    text-decoration: none;
    margin-top: 20px;
}

#pauseScreen {
    background-color: rgba(105, 105, 105, 0.75);
    display: none;
    top: 200px;
    margin: auto; 
    position: absolute;
    width: 600px;
    height: 400px;
    z-index: 1;
}

.flou {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#ulClassement::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

#ulClassement::-webkit-scrollbar
{
	width: 12px;
}

#ulClassement::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#ulClassement {
    font-size: 14pt;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#ulClassement li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 12pt;
    margin-top: 10px;
    text-transform: capitalize;
}

.classementScore {
    width: 20%;
    text-align: right;
}

.classementPosition {
    width: 20%;
}

#ulClassement li:nth-child(1) {
    color: gold;
    font-size: 18pt;
}

#ulClassement li:nth-child(2) {
    color: silver;
    font-size: 16pt;
}

#ulClassement li:nth-child(3) {
    color: chocolate;
    font-size: 14pt;
}

#retourMenu {
    color: aliceblue;
    margin-bottom: 20px;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
}

#retourMenu:hover {
    color: scale(1.5);
}

#envoyer {
    cursor: pointer;
    font-size: 16pt;
    width: 100px;
    height: 50px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ff6600;
    color: aliceblue;
    padding: 0 10px;
    font-family: 'Oswald', sans-serif;
    outline: 0;
}

#name {
    border: none;
    font-size: 16pt;
    padding: 0 10px;
    height: 50px;
    outline: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#formInsert {
    display: flex;
    margin-top: 80px;
}